body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-part-span {
    color: #2e2f42;
}

.navigation-list a {
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
    font-weight: medium;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #404BBF;
}

.navigation-list a:active {
    text-decoration: underline;
}


.contacts {
    font-style: normal;
}

.contacts-list-item {
    color: #434455;
    text-decoration: none;
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.hero-header {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 56px;    
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    background-color: #4D5AE5;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.values-section {
    background-color: #FFFFFF;
}

.values-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.values-list {
    list-style: none;
}

.team-section {
    background-color: #F4F4FD;
}

.team-header {
    font-weight: 500;
    line-height: 1.11;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.team-list {
    list-style: none;
}

.team-member {
    background-color: #FFFFFF
}

.member-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-header {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list {
    list-style: none;
}

.portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.logo-part-footer {
    color: #f4f4fd;
}

